@use '@app/styles/reset' as *;
@use '@app/styles/variables' as *;

body {
  font-family: Poppins;
}

::-webkit-scrollbar-track {
  background-color: $color-dark-900;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $color-primary-700;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
